.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #F9FAFB;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

.main-content {
  flex-grow: 1;
  display: flex;
  overflow: hidden;
}
